@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100vh;
  font-family: "Fira Mono", monospace;
}

/* MENU */
header {
  background: #282a36;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.75rem;
}

header .links {
  width: 100%;
  max-width: 980px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  margin-left: 0.625rem;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.links a {
  color: #8be9fd;
}

.links a:hover {
  color: #3fc772;
  transition: color 1.4s;
}

/* LOGO */
.logo {
  max-width: 2.5rem;
  font-size: 1.75rem;
}

span.color1 {
  color: #3fc772;
}

span.color2 {
  color: #8be9fd;
}

/* REDES SOCIAIS */
.social-medias img {
  width: 100%;
  max-width: 28px;
  margin-left: 0.625rem;
}

/* PERFIL */
.card-profile {
  background: #2e313d;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  padding: 90px;
}

.profile{
  width: 260px;
  align-items: center;
}

.profile .profile-img {
  width: 225px;
  height: 225px;
  /* display: grid; */
  grid-column: 1;
  border: 1px solid #f8f8f2;
  box-sizing: border-box;
  border-radius: 50%;
}

.profile p.profile-title{
  color: #ff79c5;
  margin-top: 0.5rem;
  font-size: 18px;
}

.profile p.profile-title2{
  color: #F0F387;
  margin-top: 0.4rem;
  font-size: 14px;
}


.animated-text {
  grid-column: 2;
}



.line {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
}

.typing-animation {
  animation: blinkCursor 500ms steps(40) infinite normal,
    typing 6s infinite steps(40) 2s normal;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 24rem;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.console {
  color: #b491f9;
}

.dot {
  color: white;
}

.log {
  color: #8be9fd;
}

.message {
  color: #f1f178;
}

.skills{
  grid-row: 3/3;
  display: flex;
  margin: 0 auto;
}
